@page "/cities/edit/{CityId:int}"
<h3>Editar Ciudad</h3>
@if (city is null)
{
    <Loading />
}
else
{
    <FormWithName @ref="cityForm" Label="Cuidad:" Model="city" OnValidSubmit="SaveAsync" ResturnAction="Return" />
}

